<div
  class="container py-16 grid gap-6 gap-y-16 md:justify-items-center grid-cols-6 md:grid-cols-[1.5fr_1fr_1fr_1fr_1.5fr] text-xs md:text-base"
>
  <div class="col-span-3 md:col-span-1">
    <a href="../../index.html" class="logo font-semibold text-2xl">
      Exclusive
    </a>

    <p class="mt-5 mb-5">Subscripe</p>
    <p class="text-xs md:text-sm mb-4 text-gray-300">
      Get 10% off your first order
    </p>

    <div class="relative w-fit">
      <input
        type="text"
        placeholder="Enter your email"
        class="bg-transparent outline-none border-2 border-gray-400 rounded-sm py-2 px-3 text-xs md:text-sm w-full"
      />
      <iconify-icon
        icon="heroicons:paper-airplane-16-solid"
        class="pointer-events-none absolute right-2 top-1/2 -translate-y-1/2"
        width="16"
        height="16"
      ></iconify-icon>
    </div>
  </div>

  <div
    class="row-start-1 col-span-3 sm:col-span-2 md:col-span-1 justify-self-center md:row-auto"
  >
    <h3 class="mb-5 text-lg">Support</h3>
    <address class="space-y-3 not-italic text-gray-300 text-xs md:text-sm">
      <p>111 Bejoy sarani, Dhaka, DH 1515, Bangladesh</p>
      <p>exclusive@gmail.com</p>
      <p>+88015-88888-9999</p>
    </address>
  </div>

  <div
    class="row-start-2 sm:row-start-1 col-span-3 sm:col-span-2 md:col-span-1 sm:justify-self-center md:row-auto"
  >
    <h3 class="mb-5 text-lg">Account</h3>
    <ul class="space-y-3 text-gray-300 text-xs md:text-sm">
      <li>
        <a
          class="transition-all hover:text-gray-200"
          href="../../account/profile.html"
        >
          My Account
        </a>
      </li>
      <li>
        <a
          class="transition-all hover:text-gray-200"
          href="../../auth/log-in.html"
        >
          Login
        </a>
        <span> / </span>
        <a
          class="transition-all hover:text-gray-200"
          href="../../auth/sign-up.html"
        >
          Register
        </a>
      </li>
      <li>
        <a
          class="transition-all hover:text-gray-200"
          href="../../cart/cart.html"
        >
          Cart
        </a>
      </li>
      <li>
        <a
          class="transition-all hover:text-gray-200"
          href="../../wishlist/wishlist.html"
        >
          Wishlist
        </a>
      </li>
      <li>
        <a
          class="transition-all hover:text-gray-200"
          href="../../products/productDetails.html"
        >
          Shop
        </a>
      </li>
    </ul>
  </div>

  <div
    class="row-start-1 col-span-3 sm:col-span-2 md:col-span-1 sm:justify-self-center md:row-auto"
  >
    <h3 class="mb-5 text-lg">Quick Link</h3>
    <ul class="space-y-3 text-gray-300 text-xs md:text-sm">
      <li>
        <a class="transition-all hover:text-gray-200" href="#">
          Privacy Police
        </a>
      </li>
      <li>
        <a class="transition-all hover:text-gray-200" href="#">
          Terms Of Use
        </a>
      </li>
      <li>
        <a class="transition-all hover:text-gray-200" href="#"> FAQ </a>
      </li>
      <li>
        <a
          class="transition-all hover:text-gray-200"
          href="../../contact/contact.html"
        >
          Contact
        </a>
      </li>
    </ul>
  </div>

  <div class="col-span-6 sm:col-span-3 md:col-span-1">
    <h3 class="mb-5 text-lg">Download App</h3>
    <p class="text-xs text-gray-400 mb-2 md:text-sm">
      Save $3 With New User Only
    </p>

    <div class="flex items-center gap-2 mb-4">
      <div class="w-1/3 cursor-pointer overflow-hidden">
        <img
          src="../assets/imgs/qr-code.png"
          alt="qr-code"
          class="w-full h-full object-cover place-items-center"
        />
      </div>
      <div>
        <p
          class="px-2 py-2 mb-2 leading-none border-2 border-gray-500 rounded-md flex items-center gap-1 cursor-pointer"
        >
          <iconify-icon
            icon="logos:google-play-icon"
            width="18"
            height="18"
          ></iconify-icon>
          <small class="text-[0.5rem]">
            GET IT ON <br />
            <span class="text-[0.7rem] font-semibold"> Google Play </span>
          </small>
        </p>
        <p
          class="px-2 py-2 pe-2 leading-none border-2 border-gray-500 rounded-md flex items-center gap-1 cursor-pointer"
        >
          <iconify-icon
            icon="ic:baseline-apple"
            width="22"
            height="22"
          ></iconify-icon>
          <small class="text-[0.5rem]">
            Download on the <br />
            <span class="text-[0.7rem] font-semibold">App Store</span>
          </small>
        </p>
      </div>
    </div>

    <div class="flex gap-7">
      <a href="https://www.facebook.com/" target="_blank">
        <iconify-icon
          icon="ri:facebook-line"
          width="24"
          height="24"
        ></iconify-icon>
      </a>
      <a href="https://x.com/" target="_blank">
        <iconify-icon
          icon="ri:twitter-line"
          width="24"
          height="24"
        ></iconify-icon>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <iconify-icon
          icon="uil:instagram"
          width="24"
          height="24"
        ></iconify-icon>
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <iconify-icon
          icon="ri:linkedin-line"
          width="24"
          height="24"
        ></iconify-icon>
      </a>
    </div>
  </div>
</div>

<div
  class="text-center text-xs md:text-sm py-3 text-gray-500 border-t-2 border-gray-900"
>
  <p class="copyright">
    &copy;Copyright by Mahmoud Mostafa. All right reserved
  </p>
</div>
